<!--
<div class="row LoginCard">
  <div class="col-xs-6 col-xs-offset-3">
    <%# link_to "Sign in with Facebook",
        user_facebook_omniauth_authorize_url(),
        class: "btn btn-lg btn-primary" %>
  </div>
</div>
-->

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron text-center">
  <h1>Amigos del fútbol</h1>
  <p>Somos un grupo de amigos y futbolores que nos reunimos dos veces a la semana a jugar.</p>
  <p>Bienvenido!</p>
</div>
