<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un link para cambiar tu contraseña. Puedes hacerlo a través del link de abajo.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu no solicitaste esto, por favor hace caso omiso a este email.</p>
<p>Tu contraseña no será cambiada hasta que tu accedas el link de arriba y cambies la contraseña.</p>
